body {
    background: #FAF2F2;
    font-family: Playfair Display;
}

h1 {
    letter-spacing: 8px;
}

.container {
    max-width: 1000px;
}

.block-red {
    background: #6F1F24;
    padding: 10px;
    color: white;
}

.block-blue {
    background: #0D1A72;
    color: white;
}

.text-red {
    color: #6F1F24;
}

.text-blue {
    color: #0D1A72;
}

.reenie-beanie {
    font-family: Reenie Beanie;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/*
 * LOGIN
 */
.login {
    text-align: center;
    margin: 50px auto;
}

.work-pierre {
    font-size: 20px;
}

/*
 * NAV
 */
.nav-link-text {
    padding-top: 15px;
}

.nav-link-text:hover {
    color: #6F1F24;
    text-decoration: underline;
}

/*
 * FOOTER
 */
#footer {
    text-align: center;
    margin: 20px;
}

/*
 * HOME
 */
#home {
    min-height: 660px;
}

.images {
    min-height: 460px;
}

.img-middle {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.img-right {
    position: absolute;
    top: 190px;
    right: 170px;
}

.img-left {
    position: absolute;
    top: 290px;
    left: 170px;
}

.img-mobile {
    display: none;
}

#counter {
    width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.counter-item {
    background: white;
    width: 70px;
    padding: 2px;
    text-align: center;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.counter-number {
    font-size: 40px;
}

/*
 * WHERE
 */
#where {
    margin-top: 30px;
}

#where .block {
    min-height: 260px;
}

.img-france {
    float: right;
}

.items-where {
    min-height: 330px;
    margin-top: 30px;
}

.item-where {
    float: left;
    width: 300px;
}

.item-where img {
    display: block;
    margin-bottom: 15px;
}

.place-where {
    font-size: 20px;
}

.item-where-first {
    margin-left: 40px;
}

/*
 * PROGRAM
 */
#program {
    margin-top: 30px;
}

.program-top {
    margin-bottom: 20px;
}

.img8 {
    float: right;
}

.yes {
    width: 300px;
    min-height: 200px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.yes-title {
    font-size: 30px;
}

.yes-item {
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    width: 100px;
    text-align: center;
}

.yes-item .time {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.yes-item-image img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.yes-item-image {
    position: relative;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.party-item {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.party-item img {
    margin: 0 auto;
    display: block;
}

.party-item .time {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.sleep {
    width: 400px;
    text-align: center;
    margin: 50px auto;
}

.program-bottom {
    min-height: 330px;
    float: right;
    width: 640px;
}

.brunch {
    width: 640px;
    min-height: 200px;
    text-align: center;
    margin-top: 15px;
}

.brunch-item {
    float: left;
    margin-right: 80px;
    margin-left: 80px;
    width: 160px;
    text-align: center;
}

.brunch-item img {
    margin: 0 auto;
    display: block;
}

.brunch-item .time {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.tomorrow {
    width: 460px;
    text-align: center;
    margin: 50px auto;
    font-weight: bold;
}

/*
 * DETAILS
 */
#details {
    margin-top: 30px;
}

.img10 {
    float: right;
    margin-left: 10px;
}

.img12 {
    float: right;
    margin-top: 20px;
}

.img11 {
    float: left;
    margin-right: 20px;
}

.details-block {
    margin: 35px 0;
}

.details-parent {
    height: 360px;
}

.block-bed {
    min-height: 315px;
}

.block-gift {
    min-height: 365px;
    position: relative;
}

.australia {
    position: absolute;
    bottom: 0;
    right: 32%;
}

/*
 * ANSWER
 */
#answer {
    margin-top: 30px;
}

.answer-block-1 {
    min-height: 50px;
    position: relative;
    margin-bottom: 15px;
}

.title-answer {
    float: left;
}

.explain-answer {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
}

.img13 {
    float: right;
    margin-top: 15px;
}

.answer-block-2 {
    margin-top: 80px;
    margin-bottom: 120px;
}

.answer-block-3 {
    text-align: center;
}

/*
 * CONTACT
 */
#contact {
    margin-top: 30px;
}

.names {
    width: 590px;
    min-height: 100px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    width: 245px;
    text-align: center;
}

/*
 * MOBILE
 */
@media screen and (max-width: 1200px)
{
    .login { width: 210px; }
    .login label { display: block; }
    .login input { margin-bottom: 10px; }
    .images{ display: none; }
    .img-mobile {
        display: block;
        margin: 0 auto;
    }
    .img-france{ display: none; }
    .item-where {
        float: none;
        width: auto;
    }
    .item-where-first { margin-left: 0; }
    .img8{ display: none; }
    .img9{ display: none; }
    .sleep { width: auto; }
    .program-bottom {
        float: none;
        width: auto;
    }
    .names { width: auto; }
    .brunch { width: auto; }
    .brunch-item { float: none; }
    .tomorrow { width: auto; }
    .img10{ display: none; }
    .img11{ display: none; }
    .sleeping-text{ display: none; }
    .block-gift { min-height: 215px;}
    .img12{ display: none; }
    .title-answer { float: none; }
    .explain-answer {
        position: static;
        margin-left: 0;
    }
    .img13 {
        float: none;
        display: block;
        margin: auto;
    }
    .answer-block-2 { margin: 10px; }
}
