{% extends "base.html.twig" %}

{% block title %}R.S.V.P{% endblock %}

{% block body %}
    <h1 class="blue">R.S.V.P</h1>
    <p>(ça veut dire « Répondez s’il vous plaît », on précise parce que Pierre savait pas)</p>

    <p>
        Pour nous dire si vous venez ou pas, envoyez-nous un mot doux sur leschoux2018@gmail.com
    </p>

    <img src="image/img13.png" width="235" height="363"/>

    Dites-nous si :
    <ul>
        <li>vous venez aux cérémonies / à la soirée / au brunch du lendemain</li>
        <li>vous voulez rester avec nous la journée et la soirée du samedi (ça nous ferait très plaisir !).</li>
        <li>vous venez avec vos enfants, si vous en avez <span>(si vous n’en avez pas, pas la peine d’en ramener pour l’occasion)</span></li>
        <li>vous avez des allergies / restrictions alimentaires</li>
    </ul>
    <p>
        Et enfin, si vous tenez absolument à ce qu’une chanson passe pendant la soirée parce que c’est VOTRE chanson, dites-le nous ! <span>(Une censure peut s’appliquer)</span>
    </p>

    <img src="image/img14.png" width="165" height="59"/>
{% endblock %}
