{% extends "base.html.twig" %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <div id="contact">
        <h1 class="text-blue">OÙ NOUS TROUVER ?</h1>
        <p>
            Lucie Lemauff & Pierre Ducoudray<br>
            107 rue de Meaux<br>
            75019 Paris<br>
            <br>
            Lucie : 06.85.35.91.46<br>
            Pierre : 06.30.51.21.33
        </p>

        <h1 class="text-blue align-right">NOS TÉMOINS</h1>

        <h3 class="reenie-beanie align-center">Les témoins de Pierre</h3>
        <div class="names">
            <div class="name">
                <strong>Stéphane Bonhomme</strong><br>
                06.58.09.75.53<br>
                stephanebonhomme94@gmail.com
            </div>
            <div class="name">
                <strong>Quentin Gaidier</strong><br>
                06.03.73.54.31<br>
                quentingaidier@gmail.com
            </div>
        </div>

        <h3 class="reenie-beanie align-center">Les témoins de Lucie</h3>
        <div class="names">
            <div class="name">
                <strong>Anouk Massuti</strong><br>
                06.37.60.52.59<br>
                anoukmassuti@gmail.com
            </div>
            <div class="name">
                <strong>Manon Lestringant</strong><br>
                06.59.55.09.<br>
                manon.lestringant@gmail.com
            </div>
        </div>
        <div class="names">
            <div class="name">
                <strong>Laure Rampini</strong><br>
                06.29.75.28.64<br>
                laure.rampini@gmail.com
            </div>
            <div class="name">
                <strong>Laure Lemauff</strong><br>
                06.31.50.36.74<br>
                laurelemauff@yahoo.fr
            </div>
        </div>
        <br>
        <p class="align-center">
            <strong>Si vous voulez prévoir une petite surprise pendant la soirée,<br>
            prenez contact avec Laure Lemauff, qui s’occupe de tout !</strong>
        </p>
        <br>
    </div>
{% endblock %}
