{% extends "base.html.twig" %}

{% block title %}Les détails hyper importants{% endblock %}

{% block body %}
    <div id="details">
        <div class="details-block block-bed">
            <img class="img10" src="image/img10.png" width="307" height="307"/>

            <h1 class="text-blue">LE LOGEMENT</h1>

            <p>
                Il y a des logements sur le domaine et dans un gite juste à côté.<br>
                On vous tient au courant très vite !<br>
                <br>
                P.S : pour ceux qui se sentent très très courageux, il y aussi 7 « sleeping Box » pour 2 dispersées sur le domaine… mais elles ne sont pas chauffées ! Dites-nous si l’expérience vous tente ;)
            </p>
            <br>
            <p class="reenie-beanie align-right sleeping-text">
                Ceci est une vraie photo d’une vraie sleeping Box du domaine du Moulin Neuf,<br> mais la petite dame ne sera pas présente à notre mariage
            </p>
        </div>

        <div class="answer-block-3">
            <img src="image/img14.png" width="165" height="59"/>
        </div>

        <div class="details-block align-right">
            <h1 class="text-blue">LA TENUE</h1>
            <p>
                <br>
                Pas de dress code, vous vous habillez comme vous voulez ! Rappelez-vous juste qu’on sera le 2 novembre et que la Loire-Atlantique n’est pas connue pour être la région la plus chaude de France !
            </p>
        </div>

        <div class="answer-block-3">
            <img src="image/img14.png" width="165" height="59"/>
        </div>

        <div class="details-block">
            <h1 class="text-blue">LE TRANSPORT</h1>
            <p>
                Il y a 10 mn de voiture pour aller de la mairie à l’église puis 45 mn pour aller de l’église au domaine du Moulin Neuf.<br>
                <strong>Pas de transport en commun…</strong> Mais pas de panique, on vous propose :
            </p>

            <div class="car align-right">
                <h3 class="text-blue">Besoin d’un covoit’ ?</h3>
                <p>
                    Si tu as de la place dans ta voiture ou besoin d’une<br>
            place dans une voiture, RDV sur cet astucieux<br>
                    Google Doc : <a href="https://docs.google.com/spreadsheets/d/1T1umrNhd73p3UomdPK5vmH9BYD7ik3LXIhguMwSNx4g/edit?usp=sharing" target="_blank">cliquez ici</a>.
                </p>
            </div>

            <div class="parking">
                <h3 class="text-blue">Pour se garer</h3>

                <p>
                    <strong>Près de la Mairie :</strong> privilégiez les parkings du Château ou de la Cathédrale (trouvables sur Google Maps). Vous pouvez également vous garer au parking souterrain Decré-Bouffay.<br>
                    Attention, la circulation près du centre-ville de Nantes est souvent compliquée (centre-ville piéton).
                </p>

                <p><strong>À l’Église :</strong> il y a un grand parking juste devant l’Église.</p>

                <p><strong>Au domaine :</strong> tout est prévu !</p>
            </div>
        </div>

        <div class="answer-block-3">
            <img src="image/img14.png" width="165" height="59"/>
        </div>

        <div class="details-block block-gift align-right">
            <img class="img11" src="image/img11.png" width="456" height="342"/>
            <h1 class="text-blue">LE CADEAU</h1>
            <p>
                Pas de liste de mariage, notre cadeau sera notre prochain grand voyage ! Si vous voulez y participer, une urne sera présente le jour du mariage
            </p>
            <p class="reenie-beanie align-left australia">On aimerait partir en Australie !</p>
        </div>

        <div class="answer-block-3">
            <img src="image/img14.png" width="165" height="59"/>
        </div>

        <div class="details-block">
            <h1 class="text-blue">FUN FACT</h1>

            <p>
                Le saviez-vous ? L’Église Saint Laurent est l’église dans laquelle se sont mariés les parents de Lucie  !
            </p>

            <img class="img12" src="image/img12.png" width="499" height="705"/>
        </div>
    </div>
{% endblock %}
