{% extends "base.html.twig" %}

{% block title %}Les détails hyper importants{% endblock %}

{% block body %}
    <div class="block">
        <img src="image/img10.png" width="307" height="307"/>
        <h1 class="blue">LE LOGEMENT</h1>

        <p>
            Il y a des logements sur le domaine et dans un gite juste à côté.
            On vous tient au courant très vite !
            P.S : pour ceux qui se sentent très très courageux, il y aussi 7 « sleeping Box » pour 2 dispersées sur le domaine… mais elles ne sont pas chauffées ! Dites-nous si l’expérience vous tente ;)
        </p>
        <p>
            Ceci est une vraie photo d’une vraie sleeping Box du domaine du Moulin Neuf, mais la petite dame ne sera pas présente à notre mariage
        </p>

    </div>

    <div class="block-red">
        <h1 class="white">LA TENUE</h1>
        <p>
            Pas de dress code, vous vous habillez comme vous voulez ! Rappelez-vous juste qu’on sera le 2 novembre et que la Loire-Atlantique n’est pas connue pour être la région la plus chaude de France !
        </p>
    </div>

    <div class="block">
        <h1 class="blue">LE TRANSPORT</h1>
        <p>
            Il y a 10 mn de voiture pour aller de la mairie à l’église puis 45 mn pour aller de l’église au domaine du Moulin Neuf. <strong>Pas de transport en commun…</strong> Mais pas de panique, on a tout prévu !
        </p>

        <div class="car">
            <h3 class="blue">BESOIN D’UN COVOIT’ ?</h3>
            <p>
                Si tu as de la place dans ta voiture ou besoin d’une<br>
                place dans une voiture, RDV sur cet astucieux<br>
                Google Doc : clique ici.
            </p>
        </div>

        <div class="parking">
            <h3 class="blue">POUR SE GARER</h3>

            <p>
                <strong>Près de la Mairie :</strong> privilégiez les parkings du Château ou de la Cathédrale (trouvables sur Google Maps). Vous pouvez également vous garer au parking souterrain Decré-Bouffay.
                Attention, la circulation près du centre-ville de Nantes est souvent compliquée (centre-ville piéton)
            </p>

            <p><strong>À l’Église :</strong> il y a un grand parking juste devant l’Église</p>

            <p><strong>Au domaine :</strong> tout est prévu !</p>
        </div>

        <div class="block-red">
            <img src="image/img11.png" width="456" height="342"/>
            <h1 class="white">LE CADEAU</h1>
            <p>
                Pas de liste de mariage, notre cadeau sera notre prochain grand voyage ! Si vous voulez y participer, une urne sera présente le jour du mariage
            </p>
            <p>On aimerait partir en Australie !</p>
        </div>

        <div class="block">
            <h1 class="blue">FUN FACT</h1>

            <p>
                Le saviez-vous ? L’Église Saint Laurent est l’église dans laquelle se sont mariés les parents de Lucie  !
            </p>

            <img src="image/img12.png" width="456" height="342"/>
        </div>
    </div>
{% endblock %}
