{% extends "base.html.twig" %}

{% block title %}C’est quoi le programme ?{% endblock %}

{% block body %}
    <div class="program-top">
        <img src="image/img8.png" width="235" height="316"/>
        <h1>VENDREDI 2 NOVEMBRE</h1>

        <div class="yes">
            <span class="yes-title">On se dit oui…</span>
            <div class="yes-items">
                <div class="yes-item">
                    <img src="image/picto2.png" width="50" height="32"/>
                    <span class="time">à 13h45</span>
                    <span class="place">à la Mairie</span>
                </div>
                <div class="yes-item">
                    <img src="image/picto3.png" width="41" height="45"/>
                    <span class="time">à 15h00</span>
                    <span class="place">à l’Église</span>
                </div>
            </div>
        </div>

        <div class="party">
            <span class="party-title">Puis en route pour la fête !</span>
                <div class="party-item">
                    <img src="image/picto4.png" width="48" height="45"/>
                    <span class="time">17h00</span>
                    <span class="place">
                        Début du cocktail au domaine…<br>
                        Et pour la suite, laissez-vous guider !
                    </span>
                </div>
        </div>

        <div class="party">
            <span class="party-title">Nuit sur le domaine ou juste à côté</span>
        </div>
    </div>

    <div class="program-bottom">
        <img src="image/img9.png" width="235" height="316"/>
        <h1>SAMEDI 3 NOVEMBRE</h1>

        <div class="yes-items">
            <div class="yes-item">
                <img src="image/picto5.png" width="50" height="32"/>
                <span class="time">9h0</span>
                <span class="place">
                    Petit-déjeuner pour<br>
                    les plus courageux<br>
                    (pas les mariés)
                </span>
            </div>
            <div class="yes-item">
                <img src="image/picto6.png" width="41" height="45"/>
                <span class="time">12h00</span>
                <span class="place">
                    Brunch pour<br>
                    tout le monde !
                </span>
            </div>
        </div>
    </div>

    <p>
        Nous vous invitons à passer ensuite encore l’après-midi et la<br>
        soirée avec nous ! Le couchage sera à nouveau possible sur le<br>
        domaine pour ceux qui le veulent.
    </p>
{% endblock %}
