{% extends "base.html.twig" %}

{% block title %}C’est quoi le programme ?{% endblock %}

{% block body %}
    <div id="program">
        <div class="program-top">
            <img src="image/img8.png" class="img8" width="235" height="316"/>
            <h1 class="text-blue">VENDREDI 2 NOVEMBRE</h1>

            <div class="yes">
                <span class="yes-title reenie-beanie">On se dit oui…</span>
                <div class="yes-items">
                    <div class="yes-item">
                        <div class="yes-item-image"><img src="image/picto2.png" width="50" height="32"/></div>
                        <span class="time">13h45</span>
                        <span class="place">à la Mairie</span>
                    </div>
                    <div class="yes-item">
                        <div class="yes-item-image"><img src="image/picto3.png" width="41" height="45"/></div>
                        <span class="time">15h00</span>
                        <span class="place">à l’Église</span>
                    </div>
                </div>
            </div>

            <div class="yes">
                <span class="yes-title reenie-beanie">Puis en route pour la fête !</span>
                    <div class="party-item">
                        <img src="image/picto4.png" width="48" height="45"/>
                        <span class="time">17h00</span>
                        <span class="place">
                            Début du cocktail au domaine…<br>
                            Et pour la suite, laissez-vous guider !
                        </span>
                    </div>
            </div>

            <div class="sleep">
                <span class="yes-title reenie-beanie">Nuit sur le domaine ou juste à côté</span>
            </div>
        </div>

        <div class="program-bottom">
            <h1 class="text-blue align-right">SAMEDI 3 NOVEMBRE</h1>

            <div class="brunch">
                <div class="yes-items">
                    <div class="brunch-item">
                        <div class="yes-item-image"><img src="image/picto5.png" width="50" height="32"/></div>
                        <span class="time">9h00</span>
                        <span class="place">
                            Petit-déjeuner pour<br>
                            les plus courageux<br>
                            (pas les mariés)
                        </span>
                    </div>
                    <div class="brunch-item">
                        <div class="yes-item-image"><img src="image/picto6.png" width="41" height="45"/></div>
                        <span class="time">12h00</span>
                        <span class="place">
                            Brunch pour<br>
                            tout le monde !<br>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <img src="image/img9.png" class="img9" width="235" height="316"/>

        <div class="tomorrow">
            Nous vous invitons à passer ensuite encore l’après-midi et la soirée avec nous ! Le couchage sera à nouveau possible sur le domaine pour ceux qui le veulent.
        </div>
    </div>
{% endblock %}
