{% extends "base.html.twig" %}

{% block title %}C'est où ?{% endblock %}

{% block body %}
    <h1 class="blue">C'EST OÙ ?</h1>

    <h2>À Nantes d’abord, puis à Saint-Rémy-en-Mauge</h2>
    <ul>
        <li>Pour aller à Nantes : voiture, TGV, voire avion, tous les chemins mènent à Nantes !</li>
        <li>Pour aller à Saint-Rémy : pas de transports en commun…. Si vous cherchez une place dans une voiture rendez-vous là !</li>
    </ul>

    <img src="image/img4.png" width="238" height="237"/>

    <div class="block-red">
        <h1 class="white">MAIS OÙ EXACTEMENT ?</h1>
        <div class="items-where">
            <div class="item-where">
                <img src="image/img5.png" width="262" height="182"/>
                <h3>Mairie Centrale de Nantes</h3>
                <p>
                    Entrée salle des mariages<br>
                    5 rue de la commune<br>
                    44000 Nantes
                </p>
            </div>
            <div class="item-where">
                <img src="image/img6.png" width="234" height="181"/>
                <h3>Église Saint-Laurent</h3>
                <p>
                    Place des Dervallières<br>
                    44100 Nantes
                </p>
            </div>
            <div class="item-where">
                <img src="image/img7.png" width="269" height="181"/>
                <h3>Domaine du Moulin Neuf</h3>
                <p>49110 Saint-Rémy-en-Mauge</p>
            </div>
        </div>
    </div>
{% endblock %}
