{% extends "base.html.twig" %}

{% block title %}C'est où ?{% endblock %}

{% block body %}
    <div id="where">
        <div class="block">
            <img class="img-france" src="image/img4.png" width="238" height="237"/>

            <h1 class="text-blue">C'EST OÙ ?</h1>

            <br>
            <h4>À Nantes d’abord, puis à Saint-Rémy-en-Mauge</h4>
            <ul>
                <li>Pour aller à Nantes : voiture, TGV, voire avion, tous les chemins mènent à Nantes !</li>
                <li>Pour aller à Saint-Rémy : pas de transports en commun…. Si vous cherchez une place dans une voiture rendez-vous là !</li>
            </ul>
        </div>

        <div class="block-red">
            <h1 class="align-center">MAIS OÙ EXACTEMENT ?</h1>
            <div class="items-where">
                <div class="item-where item-where-first">
                    <img src="image/img5.png" width="262" height="182"/>
                    <span class="place-where">Mairie Centrale de Nantes</span>
                    <p>
                        Entrée salle des mariages<br>
                        5 rue de la commune<br>
                        44000 Nantes
                    </p>
                </div>
                <div class="item-where">
                    <img src="image/img6.png" width="234" height="181"/>
                    <span class="place-where">Église Saint-Laurent</span>
                    <p>
                        Place des Dervallières<br>
                        44100 Nantes
                    </p>
                </div>
                <div class="item-where">
                    <img src="image/img7.png" width="269" height="181"/>
                    <span class="place-where">Domaine du Moulin Neuf</span>
                    <p>49110 Saint-Rémy-en-Mauge</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
